.Timer {
    width: 80%;
    padding: 15px 25px;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 4px;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Delete {
    color:red;
    float: right;
}