.Homepage {
    text-align: center;
    height: auto;
    width: 80%;
    padding: 16px 16px;
    border: 4px solid black;
    box-shadow: 5px 5px 8px rgb(17, 17, 17);
    z-index: 50;
    background-color: #ecdcd3;
    margin: auto;
}

img {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}