.Buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  justify-content: center;
}

.Buttons button {
    height: 50px;
}


.Box {
    width: auto;
    padding: 15px 25px;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 4px;
    font-size: medium;
    display: flex;
}

.Timer {
    display: flex;
    flex-direction: column;
}

