.Buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Buttons button {
    height: 50px;
}

.Buttons button:disabled {
    background-color: rgb(150, 150, 150);
}

.Box {
    width: auto;
    padding: 15px 25px;
    margin: 10px;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 4px;
    font-size: 40px;
    text-align: center;
}

.Timer {
    display: flex;
    flex-direction: column;
}

