.NavBar {
    background-color: rgb(190, 67, 30);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.NavBar a {
    float: left;
    display: block;
    color: #ecdcd3;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.NavBar a:hover {
    background: #ddd;
    color: black;
  }